*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    

}

body{
    background-color: #0f0f1e ;
    color: #fff ;
    font-size: 16px;
    overflow: hidden;
}

header{
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.Logo{
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}

header nav ul{
    display: flex ;
    gap: 48px;
}

header nav ul li {
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: 0.5s ease;
}

header nav ul li:hover::after{
    width: 100%;
}

.container{
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #0e0947 100%) ;
}

.container::before{
     content: '';
     position: absolute;
     height: 500px;
     width: 500px;
     border-radius: 50%;
     background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 25, 30, 0) 70%);
     position: absolute;
     top: 50%;
     left: 50%;
     filter: blur(50px);
     transform: translate(-50%, -50%);
     z-index: 1;
     animation: pulse 5s infinite;
}

@keyframes pulse {
    0%{
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1,5);
    }
}

.list{
    width: 80%;
    height: 100% ;
    margin: 0 auto;
    position: fixed;
    transform: translate(-5%, -4%)
}

.item{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(10vw);
    transition: 0.7s ease-in-out, opacity 0.7s ease-in-out;

}

.item.active{
    opacity: 1;
}

.product-img{
    width: 80%;
    height: 40vw;
    display: flex;
    text-align: left;
    justify-content: flex-start ;
    position: absolute;
    z-index: 2;
    bottom: 0.5%;
    
    transform: translateX(10px);
    opacity: 1;
    transition-delay: 0.5;
}
.active.product-img img{
    transition: transform 0.6 ease, opacity 0.6s ease;
    opacity: 1;
}

.product-img img{
    max-height: 70%;
    max-width: 90%;
    height: 300px;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
  
}



.content{
    width: 50%;
    font-size: 15px;
    text-align: center;
    padding: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    z-index: 2;
    flex: 20;
    transform: translate(15%, -7%);
    
    
}

.product-tag{
    font-size: 33px;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 1000;
    margin-bottom: 10px;
    opacity: 4;
    text-align: center;
}

.product-name{
    font-size: 175%;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    line-height: 1.0;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
   
}

.description{
    font-size: 18px;
    color: #b8b8d0;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
    text-align: center;
    justify-content: center;
}

.btn{
    padding: 12px 16px;
    background: linear-gradient(90deg, #00f7ff, #0066ff) ;
    border-radius: 30px;
    color: #000;
    font-size: 100%;
    cursor: pointer;
    border: none;
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    
}

.arrow-btn{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 247, 255, 0.3);
}

.arrow-btn:hover{
    background-color: rgba(0, 247, 255, 0.2);
    border-color: #54d0e0;
}

.Indicators{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
}

.numbers{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.2)
}

.dots{
    display: flex;
    gap: 10px;
}

.dot{
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2)   
}

.dot.active{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    background-color: #00f7ff;
}

.COM{
    opacity: 1;
     transform: translate(-50%, -50%);
}

/* .tech-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
}

.circle{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 247, 255, 0.5);
     animation: pulse2 5s infinite;
}

.circle:nth-child(1){
    width: 200px;
    height: 200px;
    top: 10%;
    left: 6%;
    opacity: 0.5;
     animation: pulse2 2s infinite;
    
}

.circle:nth-child(2){
    width: 300px;
    height: 300px;
    top: 60%;
    left: 80%;
    opacity: 0.5;
     animation: pulse2 2s infinite;
    
}

.circle:nth-child(3){
    width: 150px;
    height: 150px;
    top: 70%;
    left: 20%;
    opacity: 0;
    animation: pulse2 2s infinite;
    
}

/*@keyframes pulse2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}*/ 